@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Shared Styles */
.btn {
  /* background-color: rgb(113, 0, 150); */
  background-image: linear-gradient(15deg, #f7e93f, #fb09b4, #9100f8);
  color: White;
  padding: 12.5px 20px;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
}
/* Main Styles */

/* Navbar Styles */
.navbar {
  padding: 24px 0;
  display: flex;
  background-color: #1a0b2e;
  justify-content: space-around;
  align-items: center;
}
.menu-links {
  display: flex;
  gap: 32px;
  list-style-type: none;
}
.menu-link {
  font-size: 1rem;
  line-height: auto;
  font-weight: 500;
  text-decoration: none;
  color: white;
}
.hamburger {
  display: none;
}
/* Banner Section */
.banner {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-container {
  max-width: 550px;
  padding: 101px 0;
  margin: 0 auto;
  text-align: center;
}
.mic-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.img-mic {
  position: absolute;
  z-index: 10;
}
.badge {
  position: absolute;
  background-color: #00ff88;
  box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
  z-index: 11;
  color: #1a0b2e;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  top: 10%;
  right: 20%;
}
.banner-title {
  font-size: 3.9rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: white;
}
.banner-description {
  opacity: 80%;
  color: white;
  font-weight: 300;
}
.banner-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.banner-button2 {
  background: none;
  border: 1px solid #00ff88;
  color: #00ff88;
}
/* About Podcast Section */
.about-podcast {
  background-color: #1a0b2e;
  padding-top: 50px;
  padding-bottom: 120px;
}
.podcast-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: white;
  /* border: 1px solid red; */
  /* border: 1px solid tomato; */
}
.podcast-headline {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.podcast-description {
  font-size: 1rem;
  opacity: 80%;
  line-height: 30px;
  font-weight: 200;
  max-width: 800px;
  margin: 0 auto;
}
.about-line {
  margin: 60px 0;
  opacity: 10%;
}
.podcast-numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 80px;
}
.podcast-single-number {
  max-width: 240px;
  /* border: 1px solid tomato; */
  /* padding: 10px; */
}
.podcast-single-number > h2 {
  color: #00ff88;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 16px;
}
.podcast-single-number > h5 {
  color: white;
  opacity: 80%;
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
}
/* Techwave Section */
.techwave {
  background-color: #230e3d;
  text-align: center;
  color: white;
  padding: 120px 0;
}
.techwave-container {
  max-width: 1200px;

  margin: 0 auto;
}
.techwave-title {
  padding-bottom: 40px;
  font-size: 3rem;
}

.techwave-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  max-height: 780px;
  /* border: 1px solid tomato; */
}
.techwave-single-card {
  /* border: 2px solid tomato; */
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  padding-bottom: 0;
  color: white;
  /* border: 1px solid red; */
  text-align: left;
}
.techwave-single-card > h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 16px 0;
}
.techwave-single-card > p {
  font-size: 1rem;
  opacity: 60%;
  line-height: 24px;
  /* border: 1px solid red; */
}
.card-1 {
  grid-row: span 2;
  padding: 107px 40px;
}
.card-2 {
  grid-column: span 2;
}
.card-3 {
  grid-column: span 2;
}
.card-4 {
  grid-column: span 2;
  padding-bottom: 40px;
}
/* Footer Section */
.footer {
  /* background-color: #230e3d; */
  background-image: url("./assets/footer-bg.png");
  background-position: center;
  padding: 100px;
}
.footer-container {
  max-width: 550px;
  margin: 0 auto;
  color: white;
  text-align: center;
  /* border: 1px solid red; */
}

.footer-logo {
  margin-bottom: 32px;
}
.footer-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 32px;
}
/* Small Device */
@media screen and (max-width: 576px) {
  .menu-links {
    display: none;
  }
  .nav-button {
    display: none;
  }
  .nav-logo img {
    max-width: 70%;
  }
  .hamburger {
    display: inline;
  }
  .banner-title {
    font-size: 3rem;
  }
  .banner-container {
    max-width: 400px;
    padding: 50px 0;
    /* border: 1px solid red; */
  }
  .about-podcast {
    padding: 50px;
  }
  .podcast-numbers {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
  .about-line {
    max-width: 400px;
    margin: 30px auto;
  }
  .techwave {
    padding: 50px 20px;
  }
  .techwave-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
    max-height: 100%;
  }
  .techwave-single-card {
    border-radius: 24px;
    padding: 24px;
  }
}
/* Medium Device */
