@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Shared Styles */
.btn {
  /* background-color: rgb(113, 0, 150); */
  background-image: linear-gradient(15deg, #f7e93f, #fb09b4, #9100f8);
  color: White;
  padding: 12.5px 20px;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
}
/* Main Styles */

/* Navbar Styles */
.navbar {
  padding: 24px 0;
  display: flex;
  background-color: #1a0b2e;
  justify-content: space-around;
  align-items: center;
}
.menu-links {
  display: flex;
  gap: 32px;
  list-style-type: none;
}
.menu-link {
  font-size: 1rem;
  line-height: auto;
  font-weight: 500;
  text-decoration: none;
  color: white;
}
.hamburger {
  display: none;
}
/* Banner Section */
.Banner {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-container {
  max-width: 550px;
  padding: 101px 0;
  margin: 0 auto;
  text-align: center;
}
.mic-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.img-mic {
  position: absolute;
  z-index: 10;
}
.badge {
  position: absolute;
  background-color: #00ff88;
  box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
  z-index: 11;
  color: #1a0b2e;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  top: 10%;
  right: 20%;
}
.banner-title {
  font-size: 3.9rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: white;
}
.banner-description {
  opacity: 80%;
}
.banner-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.banner-button2 {
  background: none;
  border: 1px solid #00ff88;
  color: #00ff88;
}

/* Small Device */
@media screen and (max-width: 576px) {
  .menu-links {
    display: none;
  }
  .nav-button {
    display: none;
  }
  .nav-logo img {
    max-width: 60%;
  }
  .hamburger {
    display: inline;
  }
}
/* Medium Device */
